*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:#023047 ;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    color: cornsilk;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center ;



}

.choice:hover{
    
    cursor: pointer; 
    background-color: #1d3557;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem ;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}

#user-score , #comp-score{
    font-size:4rem;
}


#msg{
    background-color: #003566;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline ;
    padding: 1rem ;
    border-radius: 1rem;


}

.msg-container{
    margin-top:5rem ;

}